@media screen and (max-width: 800px){
    .header{
        background-color:burlywood;
    }
    h1{font-size: 4.5em;}
    
    }

@media screen and (max-width: 600px){
.header{
    background-color: aqua;
    }
h1{
    font-size: 5.5em;
}
}
