#content{
    max-width: 680px;
    margin: 0 auto;}
.header{
    display:grid;
    border-color: #3498DB;
    background-color:#1b70a8 ;
    border-radius: 20px;
    width: 100%;
    height: 250px;
    padding: 20px;
    position:relative;
    grid-template-columns: repeat(4, 1fr);
}

.my-image{
    margin:auto;
    grid-column:1/2 ;
    grid-row: 1/3;
    width: 120%;
    height:250px;
    border-radius: 20px;
    margin-left:5% ;
    box-shadow: 1px 1px 28px rgb(49, 47, 47);    
}


.myname{
    
    margin:auto;
    padding: 20px;
    grid-column:2/5 ;
    grid-row: 1/3;
    color:white;  
    text-shadow: 1px 1px 18px rgb(49, 47, 47);    
}

.subtitle{text-shadow: 1px 1px 12px rgb(49, 47, 47); }

footer{
        margin:auto;
        padding:1.5em;
        background-color:#1b70a8 ;
        border-radius: 20px;
        max-width: 680px;
        height: 3.5em;
        margin: 0 auto;
        text-align: center;
        color:white;
    }
p{
    color:yellow;
} 

