#container{
    font-family: 'Ubuntu', sans-serif;
    width:25rem;
    margin:auto;
  }
  
  table{
    width:100%;
  }
  table,tr,th,td{
    border:1px solid blue;
    border-collapse:collapse;
    padding:0.7rem;
    text-align:center;
  }
  



 tbody tr:nth-child(2),tr:nth-child(4), tr:nth-child(6){
    background-color:#FCBF49;
    color:#003049;
    font-weight:bold;
  }
  thead{
    padding:1rem;
    font-size:2rem;
     background-color:#003049;
      color:#EAE2B7;
  }
  
  
  
  
  
  .black_friday{
    font-style: italic;
  }
  
 tfoot{
    background-color:#003049;
    color:#EAE2B7;
  }
  
  
  tbody tr:nth-child(1),tr:nth-child(3), tr:nth-child(5){
    background-color:#EAE2B7;
  }
 .titles, .goal{
    background-color:#F77F00;
    color:#003049;
    font-size:1.3rem;
  }