@media only screen and (min-width: 60em){
 header,footer{
  width:90%;
  margin:1rem auto
 }
  main{
    width:85%;
    margin:auto}
   
     
     
     #title-nav{    
       
       display:flex;
       flex-direction:row;
       justify-content:space-between;
     }
     
    
     h1,h2{
       text-align:center;
     }
    section h1{
       font-size:2.2rem;
     }
     section h2{
      font-size:1.3rem;
    }
    
    /*css header*/ 
     .logo-title{
       display:flex;
       align-items:center;
       
       width:33rem;
       
     }
.logo{
  width:40%;
  
}


/*navigation bar*/
.nav-social{
  width: 70%;
  
  display:flex;
  
  flex-direction:row-reverse;
  justify-content: left;
}

aside, nav ul li a{
  font-size: 1.3rem;
}

nav{
  
  margin:auto;
  justify-content:center;

     }
nav ul{
  display:flex;
  justify-content: space-between;
  
}
nav ul li a{
  margin:0.5rem 2rem;
  border-top: 0px solid #EAE2B7;}

     button{
       display:none;}
     
     
     .social{
       width:10rem;
       display: flex;
       justify-content: center;
       align-items: center;
     }
     
     .date-now{
       height:30px;
       background-color: #1f648a;
       justify-content:center;
       align-items:center;
       width:99%;
       margin:auto;
       height:3rem;
       margin-top:1rem;
       margin-bottom:1rem;
     }
    
    
    /*section grid*/
    section.container{
    
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 1rem;
    
    }
    main div{
        margin: auto ;
        
    }
    
    .event{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        
    }
    .hero{
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
        position: relative;
    }
    

    .trujillo-img{/*image in Hero with.......*/
      position: absolute;
      max-width: 100%;
      height: 100%;
      z-index: 1;
      
    } 
    

    .weather{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .join{
        grid-column: 1/2;
        grid-row: 3/4;
        
        

    }
    
   
    .new{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .spotlight{
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 1/4;
        height: 96%;
        width: 90%;
        margin: auto;

    }
    .spot1,.spot2,.spot3{
        display: flow-root;
        margin: auto;
        width: 90%;
        height:33%;

     }
     .spot2{
         margin-top: 0px;
         margin-bottom: 0px;
     }




/*DESIGN FOOTER*/
.logo-tit-foot{
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
}
.logo-footer{
  width:20%;
}


.data{
  
  display: flex;
  align-items: center;

}

.footer-title{
  text-align: left;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.footer-subt{
  text-align: left;
  font-size: 1.2rem;
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
}
.title-subt{
  width: 70%;
  justify-content: center;
  align-items: center;
}

 
  
  

.first-par,.separator{
  display: flex;
  justify-content: center;     
  
  
}

.first-par p{
  font-size: 1.3rem;
}
#lastmodified{
  font-size: 1.3rem;
}

.info {
display: flex;
  margin: auto 0.2rem;
  justify-content: center;
  font-size: 1.3rem;
}
.location h2, .location a{
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

}