@media only screen and (min-width: 60em){ 
 
 
  main{
    width:95%;
    margin:auto}    
  
     
     
     #title-nav{    
       
       display:flex;
       flex-direction:row;
       justify-content:space-between;
     }
     
    
    
    /*css header*/ 
     .logo-title{
       display:flex;
       align-items:center;
       
       width:60%;
       
     }
     .logo{
      width: 180px;
      margin:2rem;
      border-radius: 30%;
      
      
    } 
    .title-chamber{
      font-size:3rem;
      color: #EAE2B7;
      font-family: 'Roboto', sans-serif; 
      margin-left: 10px ;
      text-align: left;
    }
    .subtitle-chamber{
  
      font-size:1.2rem;
      color: #EAE2B7;
      font-family: 'Noto Serif', serif;
      text-align: left;
      margin-left: 5rem ;
  
   }


/*navigation bar*/
nav{
  width: 100%;
  border-top: 1px solid #EAE2B7;
}
.nav-social{
  width: 70%;
  
  display:flex;
  
  flex-direction:row-reverse;
  justify-content: left;
}

aside, nav ul li a{
  font-size: 1.1rem;
}


nav ul{
  display:flex;
  justify-content: space-between;
  
}
nav ul li{
  width: 13rem;
  padding: 0.3rem;
}

nav ul li:hover{
  background-color: #F77F00;
  border-radius: 10px;
  width: 13rem; 
}
nav ul li.selected{
  background-color: #F77F00;
  border-radius: 10px;
  width: 13rem;
  
}

nav ul li a{
 
  border-top: none;
 
}

  #hamburgerBtn{
       display:none;}
     
     
     .social{
       width:25rem;
       display: flex;
       justify-content: center;
       align-items: center;
       
     }
     
     
     .facebook, .linkedin{/*LOGO SOCIAL NETWORKS*/
      width: 45px;
      border-radius: 50%;
      margin: 20px;
      justify-content: flex-end;
  } 

    
    
    /*section grid*/
    div.container{
    
    grid-template-columns: 1.1fr 2.3fr 1.1fr;
    grid-template-rows: 17rem 17rem 17rem  ;
    grid-gap: 0.5rem;
    margin: 1rem auto ;

    }
  
    
    .event{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        width:100%;
        height: 100%;
         
    }
    .event h3{
      margin-top: 1rem;
      text-align: center;
    }
    .event-par{
      font-size: 1rem;
    }
    .hero{
        grid-column: 2/3;
        grid-row: 1/3;
        position: relative;
    }
    
    

    .trujillo-img{/*image in Hero with.......*/
      position: absolute;
      max-width: 100%;
      height: 100%;
      z-index: 1;
      
    } 
    /*-------WEATHER------------*/
    .text-weather{
      font-size: 1rem;
    }
    .weather{
        grid-column: 1/2;
        grid-row: 2/3;
        
    }
    .weather h2{
      margin: 1.1rem auto;
  }
    .section-weather{
      height: 35%;
    }
.info-weather{
  margin: 1.5rem auto;
  font-size: 2rem;
}
    .show-degrees{/*CONTANER OF GRADE*/
      padding-top:1.3rem ;
      font-size: 2rem;
    }
    #current-temp{/*SHOW HOW MANY GRADES*/
      font-size: 2rem;
        }
       /*-------END WEATHER------------*/
    
    .join{
        grid-column: 1/2;
        grid-row: 3/4;
      height:100%;
    }
    
   
    .new{
        grid-column: 2/3;
        grid-row: 3/4;
        
        
    }

    .new p, .join p{
      
      font-size: 1rem;
    }

  .spotlight{
    grid-column: 3;
    grid-row: 1/4;
    display: grid;
    width: 100%;
      
      }

  .spot1{
    width: 95%;
    grid-row: 1;
    margin: 0.5rem auto 0.25rem auto;  
    height: 280px;
  }
  .spot2{
    width: 95%;
    grid-row: 2;
    margin:  0.25rem auto 0.25rem auto;
    height: 280px;
  }
  .spot3{
    width: 95%; 
    display:block;
    margin:  0.25rem auto 0.5rem auto;
    grid-row: 3;
    height: 280px;
    
  }

.phone{
  padding-bottom: -2rem;
}
/*---------------------JOIN PAGE-------------------*/
form label.top input, form label.top select{
max-width: 15rem;
}

textarea{
  width: 60%;
}
.selected{
  width:25px;
}

/*------------DIRECTORY PAGE---------------*/
div.cards{
  
  
  
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}
tr{
  display: table-row-group;
  height: 4rem;
  border: 0px;
  width: 100%;
  padding: 0.3rem 0;
}
/*------------CONTACT PAGE----------------*/
.contact-container{
  margin: 1rem auto;
  width: 95%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}
.contact-info{
  display: grid;
  width: 100%;
  grid-column: 1;
  grid-row: 1/3;
  
  grid-template-rows:40% 60% ;
  
}
.contact-data{
  grid-row: 2/3;
  
  height: 80%;
  
}
.image-contact{
  height: 100%;
  grid-row: 1/2;
}

.image-contact img{
  width: 100%;
  height: 100%;
}

.form-contact{
  padding: 0.5rem 0;
  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
  
}



form label.textarea-contact{
  width: 90%;
  }

/*---------------------------DESIGN FOOTER--------------------------*/
.logo-tit-foot{
  margin: 0 6rem;
  display: flex;
  justify-content: space-between;
}
.logo-footer{
  width:45%;
}


.data{
  
  display: flex;
  align-items: center;

}

.footer-title{
  text-align: left;
  font-size: 1.6rem;
  margin-left: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.footer-subt{
  text-align: left;
  font-size: 1.2rem;
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
}
.title-subt{
  width: 70%;
  justify-content: center;
  align-items: center;
}

 
  
  

.first-par,.separator{
  display: flex;
  justify-content: center;     
  
  
}

.first-par p{
  font-size: 1.3rem;
}
#lastmodified{
  font-size: 1.3rem;
  color: #EAE2B7;
}

.info {
display: flex;
  margin: auto 0.2rem;
  justify-content: center;
  font-size: 1.3rem;
  color: #EAE2B7;
}
.location h2, .location a{
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}




.trujillo-images{  /*picture element*/
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
}


}
