body{
    background-color: #EAE2B7;
}
header,main, footer{width:80%;
margin:auto;}


h1{
    font-size:1.3rem;
    color:white;
}
h2{
    font-size:1rem;
    color:white;
}

date, aside {
	margin: 0.5rem;
	text-align:center;
  
	color:white;
	padding: 0.75rem;
	
	
}
date{display:none}

/*CSS NAV*/
 





.facebook, .linkedin{
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    justify-content: flex-end;
} 

section.container{
    display:block;
    margin: auto;
    width: 100%;
            
}

main div{
    border: 1px solid black;
    margin:0.8rem auto ;
    width: 90%;
    height: 10rem;   
    color:#F77F00; 
    
}
.spotlight{
    display: block;
    border: 1px solid rgb(65, 15, 182);
    height: 22rem;
    margin:auto;
    
}
.spot1 , .spot2{
    width: 95%;
    height: 45%;
}
.spot1{
    margin-bottom: -15px;
}
.spot3{
    display: none;
}
main div p{
    padding:0.5rem ;
}
.join{
    display:none
}
footer{
    background-color: #003049;
    margin-bottom: -18px;
    margin-top:8px;
    text-align: center;
    color: #FCBF49;
    font-weight: bold;
    padding: 5px;
    font-size: 1.1rem;
    
}





