
header, footer{
  width:90%;
  margin:auto;}

main{
  width:95%;
  margin: auto;
}

header{
        
    display:block;
    background-color:#003049;
    padding: 1rem;
    
  }
  
/*rep*/
#title-nav{    
    
  display:flex;
  flex-direction:row;
  justify-content: center;
        
      }
/*rep*/
.logo{
  width: 80px;
  margin:auto;
  border-radius: 30%;
  
  
}
/*rep*/
.logo-title{
  display:flex;
  justify-content:left;
  text-align: left;
    
}

.section-title{
  margin: 0;
      width:80%;
      
  }  

  .title-chamber{
    font-size:1rem;
    color: #EAE2B7;
    font-family: 'Roboto', sans-serif; 
    margin-left: 10px ;
  }
  .subtitle-chamber{

    font-size:0.8rem;
    color: #EAE2B7;
    font-family: 'Noto Serif', serif;


 }
 section

  .logo-title{
    display:flex;
    align-items:center;
    
    width:23rem;
    
  }
  .nav-social{
      display:flex;
      
      flex-direction:row;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      
    }

  nav ul li{
    display: block;
    
    text-align: center;
    margin: auto;
  }
  
  nav ul li a{
    display:block;
    padding:0.4rem;
    text-decoration:none;
    color:white;
    border-top: 1px solid #EAE2B7;
  }

nav ul {
   display:none;
}
nav ul li:hover{
  background-color: #F77F00;
  color:#003049;
  border-radius: 5px;
  padding-bottom: 20px;
  transition-duration: 0.7s;
}

nav ul.open{
    display: block;
    list-style-type:none;
    background-color: #003049;
    text-align: center;
    align-items: stretch;
    padding-inline-start: 0;
    padding:0.8rem 0.2px;
    width: 100%;
    

}


#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block;}


p{
  font-family: 'IBM Plex Sans', sans-serif;
}

/*CSS NAV*/
 
/*div social net works*/
.social{
    width:70%;
    display: flex;
    justify-content: center;
    
  }



.facebook, .linkedin{
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    justify-content: flex-end;
} 
date, aside {
	margin: 0.5rem;
	text-align:center;
    padding: top 1rem;;
	color:white;
	padding: 0.75rem;
	
	
}
date{
    display:none
}
.date-now{
    height:30px;
    background-color: #1f648a;
    justify-content:center;
    align-items:center;
    width:99%;
    margin:auto;
    height:3rem;
    margin-top:1rem;
    margin-bottom:1rem;
  }

/*----CSS MAIN-----------*/
/*CSS MAIN*/
  /*CSS MAIN*/
main{
  margin: 1rem auto;
}

section.container{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    
    width: 100%;
            
}

.hero, .event, .weather, .new, .join, .spotlight {
    border: 1px solid black;
    margin: auto ;
    width: 100%;
    height: 100%;   
    background-color:#F77F00; 
    
    
}

h3{
  color: white
}
.hero{
  position: relative;
  grid-row: 1;
}
.hero-link{
  background-color: #EAE2B7;
  position: absolute;
  z-index: 4;
  color:#F77F00; 
  bottom:10px;
  right: 10px;
  padding: 15px;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 1px 2px #888888;
}
.hero-link:active{
  box-shadow: 2px 3px 10px 8px #888888;
}

.hero-subt{/*WELLCOME TO TRUJILLO*/
  position: absolute;
  top:10px;
  left: 15px;
  font-size: 2rem;
  z-index: 2;
  text-shadow: 5px 1px 20px yellow;
  color: #EAE2B7;;
  
  }
 
.event{
  grid-row:2 ;
}
.event h3{
  margin-top: -0.8rem;
  text-align: center;
}
.event-par{
  font-size: 1.7rem;
}
.weather{
  grid-row: 3;
}
.weather-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.1rem;
  
  height: 35%;
}
.weather-img{
  width:190px;
  margin: 10px;
  grid-column: 1;
}
.weather-subt{
  font-size: 3rem;
  grid-column: 2;
}
.weather h4{
  text-align: right;
  margin-right: 20px;
  font-size:1rem ;
  margin-top: 3px;
  color: white;
}
.text-weather{
  
  margin-right: 20px;
  font-size:1.1rem ;
  
  margin-top: 3px;
  color: white;
}
.new{
  grid-row: 4;
}
.new p{
  line-height: 2;
  font-size: 1.2rem;
}



.trujillo-img{/*image in Hero with.......*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  
}


/* CSS WEATHER */



/*-------CSS SPOTLIGHT--------*/
.spotlight{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 5/7;
    
}

.spot1{
  text-align: center;
  grid-row:1 ;
  border:1px solid black;
  margin: 0.5rem 0.5rem 0 0.5rem;
  line-height: 1.6;
}

.spot1 img{
  margin: auto;
  width: 35%;
  
}

.spot2{
  text-align: center;
  grid-row:2 ;
  border:1px solid black;
  margin: 0 0.5rem 0.5rem 0.5rem;
  line-height: 1.6;
}

.spot2 img{
  margin: auto;
  width: 18%; 
  
}
.spot3{
  text-align: center;
    display: none;
    border:1px solid black;
    line-height: 1.6;
}
.spot3 img{
  margin: auto;
  width: 30%; 
  
  
}

main div p{
    padding:0.5rem ;
}
.join{
    display:none
}

div p{
  text-align: center;
  margin: -1rem auto;
  color:#003049;;
  font-size: 1rem;
  font-weight: bold;
}

.container h2{  /*titles in every box*/
  text-shadow: 5px 1px 20px yellow;
  text-align: center;
  font-size: 1.7rem;
  color: #EAE2B7;
}

.phone{
  border-top: 1px solid #EAE2B7;
  margin: 8px;
  
  
}
/*-----------END CSS MAIN----------*/



/*------------CSS FOOTER------------*/
footer{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #003049;
    margin: 2rem auto;
    margin-top:1rem;
    padding: 1rem;
    color: #FCBF49;
    
    font-size: 1.1rem;
        
}
.logo-footer{
  width:25%;
  border-radius: 1.5rem;
  margin: 0.5rem;
}

.separator{
  display:none;
}
.footer-title{
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;  
  text-align: center;
  color: #EAE2B7;
}

.footer-subt{
  font-family: 'Noto Serif', serif;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: lighter;
  color: #EAE2B7;
  text-align: center;
}
.location h2{
  text-align: center;
  font-weight: lighter;
  font-size: 1rem;
  color: #EAE2B7;
}

.location a{
  text-decoration: none;
  color:white;
  font-size: 0.9rem;
  color: #EAE2B7;
}
.info p{
  margin: 0 auto;
  font-size: 0.9rem;
}
.my-info, .separator{
  color: #EAE2B7;
}


