body {
    background-image: url("slc_temple_wallpaper.jpg");
    width: 90%;
    margin: auto;
   }


header, footer{
    width: 100%;
    margin: 1rem auto;
    background-color: rgba(16, 60, 155, 0.6);
    text-align: center;
    color: white;
    padding: 2rem 0;
    
}
div.cards{
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

section{
    text-align: center;
    width: 100%;
    margin: auto;
    border:1px solid rgba(6, 31, 87, 0.4);
    height: 95%;
    background-color: rgba(9, 88, 112, 0.7);
    color: antiquewhite;
}
img{
    width: 80%;
    height: 60%;
}
