main, header, footer {
	max-width: 700px;
	margin: auto;
	font-size: 0.8rem;

}

body {
    
    
    margin: 1em auto;
    font-family: 'Questrial', sans-serif;;
}

h1{
    font-family: 'Roboto', sans-serif;
}


h2{
    color: #F77F00;
text-align: center;
font-family: 'Roboto', sans-serif;

}

h3 {
    font-family: 'Noto Serif', serif;
    color: #F77F00;
    padding: 6px;
}

h4 {
    padding: 6px;
    text-align: center;
    color: #003049;
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
}

.purpose p{
    margin:18px;
    text-align: justify;
}

p{
    font-family: 'IBM Plex Sans', sans-serif;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 12rem;
    border: 1px solid #011936;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
}
.target h3{
    font-size: 2rem;
    
}
.target h4{
    background-color: #F77F00;
}
header {
    text-align: center;
    background-color: #003049;
    color: #FCBF49;
    padding: 5px;
    margin-bottom: -5px;
    margin-top: -18px;
}

nav ul {
    list-style-type: none;
    background-color: #F77F00;
    color: #FAF3DD;
    text-align: center;
   

    
    align-items: stretch;
    padding-inline-start: 0;
}

nav ul li {
    display: block;
    padding: 5px;
    text-align: center;
    margin: auto;
    color: #EAE2B7;
}

nav a {
    text-decoration: none;
    color: #003049;
    font-size: 1.3rem;
}

nav a:visited {
    color: #FAF3DD;
}

nav a:hover {
    background-color: #EAE2B7;
    color: #F77F00;
    padding: 8px;
}



.center{
    border: 1px solid #4A7C59;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
    
    margin:auto;
    width: 90%;
    height: 250px;
    
    
        
    }

    .url-palet{
        display: flex;
        justify-content: center;
        padding-top:4rem;
        
       
    }
.colors td{
    align-items: center;
    
}
.colors td:hover{
    transform:scale(1.14);
    z-index:2;
}
.colors {
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 6px;

}

.primary {
    background-color: #003049;
    color:white;
    text-align: center;
  }
  .secondary {
    background-color: #D62828;
    color:white;
    text-align: center;
  }
  .accent1 {
    background-color: #F77F00;
    color:white;
    text-align: center;
  }
  .accent2{
    background-color: #FCBF49;
    color:#003049;
    text-align: center;
  }
  .accent3{
    background-color:#EAE2B7;
    color:#003049;
    text-align: center;
  }

.target p{
    margin:10px;
    text-align: justify;
}

footer{
    background-color: #003049;
    margin-bottom: -18px;
    margin-top:0px;
    text-align: center;
    color: #FCBF49;
    font-weight: bold;
    padding: 5px;

}