@media only screen and (min-width: 60em){ 


    nav ul {
        display: flex; 
        font-size: 1.2rem;
        margin:-5px;
    }

    nav ul li {
        flex: 1 1 auto;
        justify-content: center;
        font-size: 1.2rem;
        border-top: 0px solid #A98467;
        width: 16.7%;
    }
    nav a {
        font-size: 1.2rem;
    }


}