@media only screen and (min-width: 60em){ 
.head{
    justify-content: left;
   padding: 1rem; 
}

    .logo img{
        width: 10rem;
    } 
   
.logo-title{
    width: 80%;
    text-align: left;
    margin: auto 2rem auto 0.5rem;
    align-items: center;
}
.title-of-site h1{
    font-size: 3.7rem;
    text-align: left;
    
}

.title-of-site {
    width: 70%;
    border: none;
    margin: auto 0.2rem auto 0.5rem;
} 
.call{
    margin-left: 5rem;
    display: flex;
    
}
.call h2{
    font-size: 1.2rem;
}
.connect{
    margin-right: 1rem;
    width: 30%;
    text-align: right;
}
.facebook,.linkedin,.instagram,.youtube{
    margin: 0.4rem;
    width: 35px;
}
.book button{
    padding: 0.8rem 2.2rem;
    font-size: 1rem;
    
}
    nav ul {
        display: flex; 
        
        
    }

 
    nav ul li  a {
        font-size: 1rem;
    }

    #hamburgerBtn{
        display:none;}







    .home-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:  22rem 18rem ;
        grid-gap: 0.5rem;
        margin: 0 auto;
    }
    .home-image-room{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .home-image-room button{
       top: 270px;
       }
    
    .home-info-temple{
        
        grid-column: 1/2;
        
    }
    .home-weather{
        grid-column: 3/4;
        width: 90%;

    }
    .home-info-temple{
        font-size: 0.7rem;
    }
   
    
    .section-weather img{
        width: 20%;
    }
    .three-weathers{
        
        width: 80%;
    }
/*-------------TEMPLE--------------------*/

.temple-container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.card-info-temple {
    margin: 1rem auto 5rem auto;
}
  /*-------RECEPTION---------------------*/  

  .img-1{
   display: flex;
   align-items: center;
}
.img-1 img{
    width: 50%;
    margin: 2rem;
}
.par-1 p{
    margin: 2rem;
}
.img-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.img-2 img{
    width: 50%;
    margin: 2rem;
}
.par-2 p{
    margin: 2rem;
}
  .grid-img-catering{
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-food-galery img{
    width: 100%;
}

.caterings{
    width: 80%;
}
.grid-img-catering img{
    width: 60%;
}

/*-------------MISSIONARY-------------------*/
.title-missionary{
    height: 24rem;
    margin-bottom: 8rem;
}
.title-missionary img{
    height: 100%;
}

.missionary-container{
    width: 65%;
    margin: 4rem AUTO;
}


.four-images{
    margin: 2rem auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.four-images .inside {
    text-align: center;
}

.four-images .inside img{
    width: 90%;
margin: 10px;
}

/*FOOTER*/

}