@media only screen and (min-width: 35rem) {
   
    .head{
        display: flex;
    }
    .logo-title{
        display: flex;
        width: 70%;
    }
    .connect{
        width: 30%;
        display: block;
    }
    .social a img{
        width: 35px;
    }

}