.head{
    display:block;
    justify-content: center;
    text-align: center;
    
    background-color: #6C584C;
}
h1{
    
    font-family: 'Lora', serif;
}
p{
    color: #A98467;
}


.logo img{
    width: 4rem;
}

.title-of-site  h1{
margin: 0.2rem auto;
color:#F0EAD2 ;
font-family: 'Lora', serif;
font-size: 2rem;
}
.title-of-site {
    border-bottom: 0.8px solid #F0EAD2;
}

.call{
    
    height: 25px;
}
.call h2{ 
    margin: 0.1rem auto;
    font-size: 1rem;
    color: #F0EAD2;
    font-family: 'Homemade Apple', cursive;
}


.social a img:hover{
    transform:scale(1.5);
}

.book button{
    background-color: #F0EAD2;
    border-radius: 20px;
    color: #6C584C;
    font-family: 'Libre Baskerville', serif;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    margin: 1rem auto;
}
.facebook,.linkedin,.instagram,.youtube{
    margin: 0.5rem;
    width: 25px;
}

nav{
    margin: 0px auto;
    background-color: #DDE5B6;
}
nav ul {
    list-style-type: none;
    background-color: #DDE5B6;
    color: #6C584C;
    text-align: center;
    align-items: stretch;
    padding-inline-start: 0;
    display: block;
    margin: 0px auto;
}

nav ul li {
    border-top: 1px solid #A98467;
    
    
    text-align: center;
    color: #6C584C;
    padding:0.5rem;
}

nav ul li a { 
    text-decoration: none;
    color: #6C584C;
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    
    
}



nav ul li:hover {
    background-color: #ADC178;
        
    transition-duration: 0.5s;
}
.selected{
    background-color: #ADC178;
}
.services-menu{
    
    display: none;
    width: 95%;
    margin-top: 0.5rem;
    
}
.services-menu ul {
text-align: center;    
    
}
.services-menu ul li{
width: 100%; 
text-align: center;

}

.services-menu ul li a{
    width: 100%;
    margin: 0;
padding: 0;
}

nav ul li:hover .services-menu{
    display:block;
    position: absolute;
    background-color: #ADC178;
    
    z-index: 3;
}
nav ul li:hover .services-menu ul{
    display: block;
}


nav ul {
    display:none;
 }
 
 nav ul.open{
     display: block;
     list-style-type:none;
     
     text-align: center;
     align-items: stretch;
     
     
     width: 100%;
     
  
 }
 #hamburgerBtn{
     width: 2rem;
     background-color: #6C584C;
     border: none;
     color: #F0EAD2;
     font-size: 1.5rem;
   margin:0.5rem 1.5rem;
 }
 
 #hamburgerBtn span:nth-child(1) {display:block;}
 #hamburgerBtn span:nth-child(2) {display:none;}
 
 #hamburgerBtn.open span:nth-child(1) {display:none;}
 #hamburgerBtn.open span:nth-child(2) {display:block;}
 


/*-----------MAIN----------------*/
.home-container{
    display: grid;
    grid-template-rows: 10rem 19rem 22rem 20rem;
    grid-gap: 0.5rem;
}
.home-image-room{
    grid-row: 1/2;
    position: relative;
    


}
.home-image-room img{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
}
.home-image-room button{
    position: absolute;
    z-index: 3;
    right: 20px;
    top: 130px;
    background-color: #F0EAD2;
    border-radius: 20px;
    color: #6C584C;
    font-family: 'Libre Baskerville', serif;
    padding: 0.4rem 1.2rem;
    
}

.home-image-temple{
    grid-row: 2/3;
    text-align: center;
    margin: 0.5rem auto;
    width: 90%;
}

.home-image-temple img{
    margin: auto;
    width: 100%;
    height: 100%;
     
}

.home-info-temple{
    
    width: 90%;
    grid-row: 3/4;
    background-color: #DDE5B6;
    margin: 0.5rem auto;
}

.home-info-temple h2{
    text-align: center;
    color: #6C584C;
    font-family: 'Lora', serif;
    margin-left: 1rem;
}
.home-info-temple h3{
    color: #6C584C;
    margin-left: 1rem;
}
.home-info-temple p{
    color: #A98467;
    margin-left: 1rem;
}
.home-info-temple a{
    text-decoration: none;
    color: #A98467;
    margin-left: 1rem;
}
.home-info-temple a:hover{
    color: #6C584C;
    font-weight: bold;
}

.home-weather, .three-weathers{
    
    text-align: center;
    margin: 0.5rem auto;
    width: 90%;
    
}
.weather-title{
    color: #6C584C;
    font-family: 'Lora', serif;
    margin: 0.5rem auto 0 auto;
}


#icon-src{
    display: none;
}
#current-temp{
    font-size: 2rem;
}
.section-weather img{
    width: 35%;
}

.show-degrees span, .weather p{
    color: #A98467;
    font-weight: bold;
    text-transform: capitalize;
}

.icons-weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 4/5;
    
    
}

.home-weather {
    background-color: #F0EAD2;
    height: 95%;
}
.three-weathers{
    background-color: #DDE5B6;
}
.three-weathers h1{
    color: #6C584C;
}
.three-weathers h4{
    color: #6C584C;
    font-family: 'Libre Baskerville', serif;
}
/*-----------------------TEMPLE------------------*/

.card-info-temple h2{
    text-align: center;
    color: #6C584C;
    font-family: 'Lora', serif;
    margin: 1rem auto 2rem auto;
}
.card-info-temple h3{
    color: #6C584C;
    font-family: 'Libre Baskerville', serif;
    margin: 0.5rem;
}
.card-temple .temple-image{
    width: 100%;
    height:25% ;
}
.card-info-temple p{
    margin: 0.5rem;
}
.temple-container .card-info-temple ul li {
    list-style-type: none;
    color: #A98467;
    font-size: 0.8rem;

}
.card-info-temple:nth-child(1){
    display: none;
}

/*---------------------RESERVATION---------*/
#reservation {
    
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
   }

.reservation-container form{
    display: block;
    background-color: rgba(240,234,210, 0.6);
}
.reservation-container h1{
    margin: 0 auto;
    padding: 1rem auto;
    text-align: center;
    color: #6C584C;
    background-color: rgba(240,234,210, 0.6);
    font-family: 'Lora', serif;
}
.reservation-container .top input{
    display: block;
}
.reservation-container {
    color: #6C584C;
    
}

.reservation-container form input{
border-radius: 8px;
border: none;
height: 1.8rem;
}

.reservation-container form .top{
    display: block;
    margin: 1rem auto;
    font-weight: bold;
}

.form-booking select{
    height: 1.8rem;
    width: 100%;
    border-radius: 8px;
}

.form-booking option{
    height: 1.8rem;
}

.reservation-container form .submitBtn{
    background-color: #F0EAD2;
    color: #6C584C;
    font-family: 'Lora', serif;
    border-radius: 15px;
    color: #6C584C;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    margin: 1rem auto 1rem auto;
}
.button-booking{
    text-align: center;
    
}
.reservation-container fieldset{
    border: none;
}
/*--------RECEPTION---------------------*/
.title-reception{
    text-align: center;
    margin-bottom:2rem ;
}
.title-reception img{
    width: 100%;
}
.title-reception h1{
    font-family: 'Lora', serif;
    color: #6C584C;
}
.reception-container{
    text-align: center;
}
.reception-container p{
    margin:  1rem 1.5rem ;
    color: #A98467;
}
.subtitle-food{
    color: #6C584C;
    font-family: 'Lora', serif;
    margin:  1rem  1rem;
}

.subt-catering{
    color: #6C584C;
    font-family: 'Lora', serif;
    margin:  1rem  0.5rem;
}

.reception-container ul li{
    color: #A98467;
}

.reception-container h4{
    color: #A98467;
}

.img-1, .img-2, .img-food-galery{
    margin: auto;
}

.par-1, .par-2{
    width: 100%;
    text-align: justify;
}


.img-1 img, .img-2 img, .img-food-galery img{
    width: 100%;
    margin: 0.1rem auto;
}
.recep-contact p{
    text-align: left;
}

.grid-img-catering{
    width: 90%;
    margin: 0.1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.grid-img-catering img{
    width: 90%;
}

.reception-container .book button{
    padding: 0.8rem 1.5rem;
}


/*---------------MISSIONARY------------------*/

.title-missionary{
text-align: center;

}
.title-missionary img{
    width: 100%;
}
.title-missionary h1 {
    text-align: center;
    margin: 2rem auto;
    color: #6C584C;
}
.placas img{
    width: 100%;
    height: 15rem;
}
.missionary-text-1 p{
    text-align: justify;
    margin: 1rem;
}
.missionary-container img{
    width: 100%;
}
.missionary-container p{
    color: #A98467;
}
.missionary-text-2 h2{
    text-align: center;
    margin: 2rem auto;
    color: #6C584C;
}
.missionary-text-2 p{
    text-align: justify;
    margin: 1rem;
    
}
.suite-img-2 img{
    margin: 1rem auto;
}

.missionary-div-form {
    text-align: center;
    color: #6C584C;
}
.forn-missionary form .top {
    margin: 2rem auto;
    color: #6C584C;
}
.forn-missionary form .top input{
    border-radius: 5px;
    height: 1.5rem;
}

.forn-missionary form fieldset{
    border: none;
}
.forn-missionary form fieldset textarea{
    border-radius: 5px;
}
.forn-missionary form div.btn{
    text-align: center;
}
.forn-missionary form .button{
    margin: 1rem auto;
    background-color: #F0EAD2;
    border-radius: 10px;
    color: #6C584C;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    
}
.four-images{
    display: none;
}

.follow{
    text-align: center;
    
}
.follow h2{
    color: #6C584C;
    background-color: #DDE5B6;
    padding: 0.7rem;
    font-size: 1rem;
}
/*--------FOOTER------------------*/
footer{
    
    background-color: #6C584C;
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.footer-logo img{
width: 3.5rem;
}
.footer-title{
    
    color: #F0EAD2;
    
    
}
.footer-title h1{
    font-size: 1.3rem;
    margin: 1px auto;

}
.footer-address{
    
    color: #F0EAD2;
}
.footer-address h3{
    font-size: 1.1rem;
    margin: 1px 25px;
}


.site-map a{
    text-decoration: none;
    color: #F0EAD2;
}
.site-map:hover{
    transform:scale(1.5);   
}
.footer-call h2{
    font-size: 1.1rem;
    margin: 1px 25px;
    color: #F0EAD2;
}
.image-footer img{
    width: 75%;
    margin: 2rem auto;
}
.footer-social a img:hover{
    transform:scale(1.5);
}
.footer-form{
    
    font-family: 'Libre Baskerville', serif;
    display: block;

}
.footer-title-form{
    color: #DDE5B6;
    font-size: 1.2rem;
}

.top input, textarea{
    width: 98%;
}
footer .top input{
    height: 1.7rem;
}
.footer-form form .fieldset{
    padding: 0% 1rem;
    margin:1px auto ;
    border: none;
   
}
.footer-form form label.top{
    display: block;
    text-align: left;
    color: #DDE5B6;
    margin: 1rem auto;
}
.footer-form input.button{
    margin: 1rem auto;
    background-color: #F0EAD2;
    border-radius: 10px;
    color: #6C584C;
    
    padding: 0.4rem 1.2rem;
    font-weight: bold;
}
.last-modified{
    color: #F0EAD2;
    font-family: 'Libre Baskerville', serif;
}